dist: trusty
sudo: false
language: cpp

addons:
   apt:
      sources:
         - ubuntu-toolchain-r-test
      packages:
         - g++-7

before_install:
   - sudo apt-get -qq update
   - sudo apt-get install -y libcgal-dev

script:
   - CXX=/usr/bin/g++-7 cmake .
   - cmake --build .
